.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
run/usercache.json
run/saves/mcp/data/Mineshaft.dat
run/hs_err_pid24108.log
run/replay_pid24108.log
run/saves/mcp/data/Temple.dat
run/saves/mcp/data/Village.dat
run/saves/mcp/data/villages.dat
run/saves/mcp/data/villages_end.dat
run/saves/mcp/data/villages_nether.dat
run/saves/mcp/level.dat
run/saves/mcp/level.dat_mcr
run/saves/mcp/level.dat_old
run/saves/mcp/playerdata/2654e3c3-150d-3857-a426-0b141796a4e0.dat
run/saves/mcp/playerdata/45c2c1e2-9dd4-3d62-8e53-82e2b4b32b4a.dat
run/saves/mcp/playerdata/538c2a55-7afc-37c7-ab76-b8f0ee8467dd.dat
run/saves/mcp/playerdata/5f90bf1f-575d-3542-89d7-731859eee6f2.dat
run/saves/mcp/playerdata/9a9101ac-937d-31fc-99f0-be5bc89dd1bc.dat
run/saves/mcp/playerdata/c98187a9-e17b-3f48-8a33-882e62d18d19.dat
run/saves/mcp/playerdata/d2fd1c5d-4760-35a0-aa0f-c197e25af2ac.dat
run/saves/mcp/playerdata/fe207da4-45aa-3a2a-bf67-72a700290388.dat
run/saves/mcp/region/r.-1.-1.mca
run/saves/mcp/session.lock
run/saves/mcp/region/r.1.-1.mca
run/saves/mcp/region/r.0.0.mca
run/saves/mcp/region/r.0.1.mca
run/saves/mcp/region/r.0.-1.mca
run/saves/mcp/region/r.-1.0.mca
run/saves/mcp/region/r.-1.1.mca
run/saves/mcp/stats/2654e3c3-150d-3857-a426-0b141796a4e0.json
run/saves/mcp/stats/45c2c1e2-9dd4-3d62-8e53-82e2b4b32b4a.json
run/saves/mcp/stats/538c2a55-7afc-37c7-ab76-b8f0ee8467dd.json
run/saves/mcp/stats/5f90bf1f-575d-3542-89d7-731859eee6f2.json
run/saves/mcp/stats/9a9101ac-937d-31fc-99f0-be5bc89dd1bc.json
run/saves/mcp/stats/c98187a9-e17b-3f48-8a33-882e62d18d19.json
run/saves/mcp/stats/d2fd1c5d-4760-35a0-aa0f-c197e25af2ac.json
run/saves/mcp/stats/fe207da4-45aa-3a2a-bf67-72a700290388.json
run/usercache.json
run/usercache.json
